.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {

	}
	@media (max-width: 1316px) {
		position: fixed;
		width: 100%;
		height: 100%;
		left: -100%;
		top: 55px;
		overflow: auto;
		padding: 0 24px 0 24px;
		transition: left 0.3s;
		background-color: #1D1D1D;
		z-index: 1;
		&::before {
			content: "";
			position: fixed;
			width: 100%;
			height: toRem(70);
			left: -100%;
			top: 0;
			transition: left 0.3s;
			z-index: 2;
		}
		.menu-open & {
			left: 0;
			&::before {
				left: 0;
			}
		}
	}
	@media (min-width: 768px) {
		top: 64px;
	}
	// .menu__list
	&__list {
		@media (max-width: $mobile) {
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@media (max-width: $mobile) {
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: 1316px) {
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 18.5px;
			height: 2px;
			background-color: #FFFFFF;
			border-radius: 4px;
		}
		&::before {
			top: 13px;
		}
		&::after {
			bottom: 13px;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}